/.vs
/ApiServer/bin/Debug
/ApiServer/Keys
**/obj
/SecurityAspNetCoreSignalR/node_modules/
/StsServer/bin
/SecurityAspNetCoreSignalR/angularApp/**/*.js
/SecurityAspNetCoreSignalR/angularApp/**/*.js.map
