/.vs
**/bin
**/obj
/ApiServer/Keys
/Logs
**/node_modules/
/SecurityAspNetCoreSignalR/angularApp/**/*.js
/SecurityAspNetCoreSignalR/angularApp/**/*.js.map
/SecurityAspNetCoreSignalR/SecurityAspNetCoreSignalR.csproj.user
/DirectMessagesAngular/**/*.js.map
/DirectMessagesAngular/angularApp/app/**/*.js
/DirectMessagesAngular/wwwroot/dist/
/DirectMessagesAngular/angularApp/*.js
/DirectMessagesAngular/DirectMessagesAngular.csproj.user
/StsLogs.txt
**/wwwroot/dist/
