/.vs
/ApiServer/bin/Debug
/ApiServer/Keys
**/obj
/SecurityAspNetCoreSignalR/node_modules/
/StsServer/bin
/SecurityAspNetCoreSignalR/angularApp/**/*.js
/SecurityAspNetCoreSignalR/angularApp/**/*.js.map
/SecurityAspNetCoreSignalR/bin
/SecurityAspNetCoreSignalR/wwwroot
/Logs
/SecurityAspNetCoreSignalR/SecurityAspNetCoreSignalR.csproj.user
/DirectMessagesAngular/node_modules
/DirectMessagesAngular/**/*.js.map
/DirectMessagesAngular/angularApp/app/**/*.js
/DirectMessagesAngular/wwwroot/dist/
/DirectMessagesAngular/bin
/DirectMessagesAngular/angularApp/*.js
/DirectMessagesAngular/DirectMessagesAngular.csproj.user
/StsServer/node_modules/
