<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/home']"><em>Angular SignalR ASP.NET Core</em></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a *ngIf="isAuthorized" [routerLink]="['/home']">Home</a></li>
                <li><a *ngIf="isAuthorized" [routerLink]="['/news']">News</a></li>
                <li><a *ngIf="isAuthorized" [routerLink]="['/dataeventrecords']">DataEventRecords</a></li>
                <li><a *ngIf="isAuthorized" [routerLink]="['/dataeventrecords/create']">Create DataEventRecord</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="navigationLinkButton" *ngIf="!isAuthorized" (click)="login()">Login</a></li>
                <li><a class="navigationLinkButton" *ngIf="isAuthorized" (click)="logout()">Logout</a></li>
                <li>
                    <a *ngIf="isAuthorized" href="https://twitter.com/damien_bod"><img src="assets/damienbod.jpg" height="30" /></a>
                </li>
            </ul>
        </div>
    </div>
</nav>