@import '../../node_modules/@angular/material/theming';
@import '../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber';

a {
    color: #03A9F4;
}

body {
    margin: 0;
    padding: 0;
}