<div class="full-width" *ngIf="isAuthorized">
    <div class="left-navigation-container" >
        <nav>

            <mat-list>
                <mat-list-item *ngFor="let onlineuser of (dmState$|async)?.onlineUsers">{{onlineuser.userName}}</mat-list-item>
            </mat-list>

        </nav>
    </div>
    <div class="column-container content-container">
        <div class="row-container info-bar">
            
        </div>

        <div class="content">
            bbb
        </div>
    </div>
</div>


<!--<div class="container-fluid" *ngIf="isAuthorized" >

    <div class="row" >
        <div class="form-inline">
            <div class="form-group">
                <label for="online-users">Online Users: </label>
                <select class="form-control" type="number" [(ngModel)]="onlineUser">
                    <option *ngFor="let g of (dmState$|async)?.onlineUsers" [ngValue]="g">{{g.name}}</option>
                </select>


                <label for="author">Message: </label>
                <input type="text" class="form-control" id="message" placeholder="your name" name="message" [(ngModel)]="message" required>
            </div>
            <button class="btn btn-primary" style="width:150px;" (click)="send()">Send</button>
        </div>
    </div>

    <hr />

    <div class="row" *ngIf="newsItems?.length > 0">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>header</th>
                        <th>Text</th>
                        <th>Author</th>
                        <th>Group</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of newsItems; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{item.header}}</td>
                        <td>{{item.newsText}}</td>
                        <td>{{item.author}}</td>
                        <td>{{item.newsGroup}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" *ngIf="newsItems?.length <= 0">
        <span>No message</span>
    </div>
</div>-->