@page
@model Sts.Pages.Admin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.AdminViewModel.Email</h1>

<h4>AdminViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AdminViewModel.Email" />
            <div class="form-group">
                <label asp-for="AdminViewModel.Email" class="control-label"></label>
                <input asp-for="AdminViewModel.Email" class="form-control" />
                <span asp-validation-for="AdminViewModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AdminViewModel.IsAdmin" /> @Html.DisplayNameFor(model => model.AdminViewModel.IsAdmin)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AdminViewModel.DataEventRecordsRole" class="control-label"></label>
                <input asp-for="AdminViewModel.DataEventRecordsRole" class="form-control" />
                <span asp-validation-for="AdminViewModel.DataEventRecordsRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminViewModel.SecuredFilesRole" class="control-label"></label>
                <input asp-for="AdminViewModel.SecuredFilesRole" class="form-control" />
                <span asp-validation-for="AdminViewModel.SecuredFilesRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
